.bar-items {
  display: flex;
  list-style-type: none;
  padding-left: -40px;
  margin-top: 10px;
}

.sidebars {
  position: relative;
  top: -300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}