.bar-list .list-group {
  padding: 20px 35px 10px 35px;
  margin-top: 10px;
}

.sidebars {
  position: relative;
  top: -300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}