.add-content-panel {
  margin-top: -410px;
  background-color: #232626;
  border-radius: 8px;
  padding: 30px;
}

.top-part {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.bottom-part {
  display: flex;
  justify-content: space-around;
}
