.add-content-panel {
  margin-top: -410px;
  background-color: #232626;
  border-radius: 8px;
  padding: 30px;
}

input {
  margin-bottom: 20px;
}

.btn-add {
  display: flex;
  justify-content: space-around;
}
