.feed {
  margin: -200px auto;
  max-width: 700px;
}

button {
  background-color: #191A1B;
  border: none;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: grey;
  color: white;
}