.feed-item {
  font-size: 1.25rem;
  list-style-type: none;
}

.feed-item button {
  width: 15px;
  height: 15px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.feed-item button:focus {
    box-shadow: none;
    outline: none;
}

.share .comments {
  position: absolute;
  flex-direction: row;
}