.feed-item {
  position: relative;
  display: flex;
  font-size: 1.25rem;
  list-style-type: none;
  background-color: #232626;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}

.menu-feed, .share-comments {
  float: right;
}

.share-comments {
  display: flex;
  position: relative;
}

p {
  margin-right: 10px;
  font-size: 1rem;
}

.user {
  display: flex;
  margin-bottom: 15px;
}

.avatar-img {
  margin-right: 10px;
}
