.appheader {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.appheader h1 {
  font-size: 20px;
  padding-top: 7px;
  margin-right: 10px;
}

.search-input {
  width: 300px;
  margin-right: 950px;
}
