.appheader {
  width: auto;
  display: flex;
  background-color: #232626;
  border-radius: 8px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
}

.appheader h1 {
  font-size: 20px;
  padding-top: 10px;
  margin-right: 10px;
}

.search-input {
  width: 200px;
  height: 40px;
  background: #3A3B3C;
  border-radius: 8px;
  margin-top: 4px;
  padding: 10px;
}

.profile {
  display: flex;
  margin-right: 20px;
}

.nav-panel {
  justify-content: center;
}